{% extends "base.html" %}
{% load urlify %} {% load crispy_forms_tags %}
{% block title %}{{ instance.title }} | {{ block.super }}{% endblock title %}
{% block style %}
    h1 {
    color: #777;
}
{% endblock style %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    {% if instance.image %}
    <img src="{{ instance.image.url }}" class="img-responsive" alt="Alternate Text" />
    {% endif %}
        <h1>{{ instance.title }} is working!
            <small>{{ instance.timestamp }}</small>
            {% if instance.draft %}
            <span style="color:red">Draft</span>
            {% endif %}
        </h1>
    <p>Read time: {{ instance.read_time|time:"i" }} minutes</p>
        <p>Author: {{ instance.user }}</p>
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    <p>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
        Facebook
        </a>
        <a href="https://twitter.com/home?status={{ object.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
        Twitter
        </a>
        <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ object.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
        Linkedin
    </a>
    </p>
    <hr />
    <div class="content-markdown"> {{ instance.content }} </div>
    <hr />
    {#<div>{{ instance.comment_set.all }}</div>#}
    <div>
        <p class="lead">Comments</p>

        <form action="" method="POST">
            {{ comment_form|crispy }}
            {% csrf_token %}
            <input type="submit" value="Post Comment" class="btn btn-default"/>
        </form>

        {% for comment in comments %}
            <div class="">
                <blockquote>
                <p>{{ comment.content }}</p>
                <footer>
                    By {{ comment.user }} on {{ comment.timestamp|timesince }} ago 
                    {{ comment.children.count }} comment{{ comment.children.count|pluralize }}
                    <a href="#" class="comment-reply-btn">Reply</a>
                    <a href="{{ comment.get_absolute_url }}" class="comment-reply-btn">Thread</a>
                </footer>

                <div class="comment-reply" style="display:none">
                    {% for child_comment in comment.children %}
                        <blockquote>
                            <p>{{ child_comment.content }}</p>
                            <footer>via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
                        </blockquote>
                    {% endfor %}

                    <form action="" method="POST">
                        {{ comment_form|crispy }}
                        {% csrf_token %}
                        <input type="hidden" name="parent_id" value="{{ comment.id }}" />
                        <input type="submit" value="Reply" class="btn btn-default"/>
                    </form>
                </div>
                </blockquote>
                <hr />
            </div>
        {% endfor %}
    </div>

    <div class="fb-comments" data-href="{{ request.build_absolute_url }}" data-numposts="5"></div>
</div>
{% endblock content %}
